html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* NAVBAR*/

#navbar {
    /* background-color: rgb(31, 31, 52); */
    background-color: #00173c;
    color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#navbar div {
    display: inline-block;
}

#logo {
    font-family: cursive;
    font-size: 30px;
    margin: 7px 5%;
    cursor: pointer;
}

#nav_menu {
    float: right;
    font-size: 20px;
    padding: 8px 5% 0px 0;
}

#nav_menu div {
    margin-right: 30px;
    padding: 10px;
    padding-top: 15px;
    margin-top: -14px;
    height: 28px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease all;
}
#nav_menu div::after{
    display:block;
  content: '';
  padding-bottom: 15px;
  /* vertical-align: baseline; */
  border-bottom: solid 3px white;  
  transform: scaleX(0);  
  transition: transform 0.3s ease-in-out;
}
#nav_menu a {
    text-decoration: none;
}

#nav_menu div:hover::after {
    /* background-color: rgb(78, 107, 131); */
    /* border-bottom: 1px solid white; */
    transform: scaleX(1);
}

#select_nav {
    /* background-color: rgb(109, 145, 177); */
    /* background-color: rgb(70, 80, 133); */
    border-bottom: 4px solid white;
}

#lo_sig {
    /* color: black; */
    color: white;
    /* background-color: rgb(0 55 71); */
    background-color: rgba(255, 255, 255, 0);
    height: 37px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
#lo_sig:hover{
    box-shadow: 0px 0px 15px 0px white;
}
#loginbtn::after{
  border:none !important;
}

@media screen and (max-width:780px){
    /*navbar*/
    #logo {
        font-family: cursive;
        font-size: 18px;
        margin: 8px 6.5%;
    }
    #nav_menu {
        padding: 5px 2% 1px 0;
    }
    #nav_menu div {
        font-size: 13.5px;
        margin-right: 10px;
        height: 25px;
        padding: 5px;
        padding: 2px;
        padding-top: 14px;
        margin-top: -10px;
    }
    #nav_menu div::after{
        display:block;
      content: '';
      padding-bottom: 11px;
      border-bottom: solid 2px white;  
      transform: scaleX(0);  
      transition: transform 0.3s ease-in-out;
    }
    #select_nav {
        border-bottom: 3px solid white;
    }
    #lo_sig {
        height: 30px;
        width: 80px;
        font-size: 0.75em;
        border: 2px solid antiquewhite;
        border-radius: 5px;
        cursor: pointer;
    }
}

#xtra {
    height: 55px;
    color: white;
    background-color: white;
}
@media screen and (max-width:780px){
    /* xtra margin */
    #xtra{
        height: 40px;
    }
}

.search-bar{
    background-color: rgb(25 25 94);
    padding:5px 0;
}

.innersearch{
    width: 48%;
    margin: auto;
    padding: 5px;
    background-color: white;
}
.innersearch input{
    width: 95%;
    border: none;
    font-size: 1rem;
}
.innersearch input:focus{
    outline: none;
}

#menu {
    margin-bottom: 30px;
}
#big_img{
    width: 100%;
    height: 390px;
    /* background-image: url('../photos/background.jpg'); */
    background-image: url('../photos/background1.jpg');
    background-size: cover;
    background-position: 5% 5%;
    background-attachment: fixed;
    padding: 0;
    margin-bottom: 20px;

}

#outer {
    /* display: flex; */
    height: 480px;
    width: 100%;
    margin-bottom: 20px;
    position:absolute;
    top: 100px;
}

.word {
    padding: 7% 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px 10px #111;
    font: 700 normal 2.5em 'tahoma';
    
}

@media screen and (max-width:780px){
    #big_img{
        height: 310px;
        background-position: 43% 8%;
        
    }
    .word{
        font-size: 1.8em;
    }
}

#upper_heading {
    text-align: center;
    font-size: 2.1rem;
}

#upper_text {
    font-size: 1.3rem;
    padding: 0 7%;
    text-align: justify;
}

@media screen and (max-width:780px){
    #upper_heading{
        font-size: 1.8em;
    }
    #upper_text {
        font-size: 0.95rem;
    }
}

.sections {
    margin: 2% 0;
    padding: 1% 1%;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-color: rgb(246, 246, 246);
    /* display: flex; */
}

#diff_outer{
    display: flex;
    flex-wrap: wrap;
}

.sections h2 {
    /* width: 100%; */
    /* display: block; */
    font-size: 2rem;
    color: rgb(57, 57, 57);
}

.sections h3 {
    font-size: 1.4rem;
    color: rgb(57, 57, 57);
    text-align: center;
    /* vertical-align: middle; */
}

.sections p {
    font-size: 1.05rem;
    text-align: justify;
}

.sections img {
    width: 200px;
    vertical-align: middle;
}
@media screen and (max-width:780px){
    .sections {
        border-left: 7px solid black;
        border-right: 7px solid black;
    }
    .sections h2 {
        font-size: 1.5rem;
        padding-left: 1% !important;
    }
    .sections h3 {
        font-size: 1rem;
    }
    .sections p {
        font-size: 0.85rem;
    }
    .image {
        margin: 20px 0 0 0 !important;
    }
    .sections img {
        width: 100px;
        vertical-align: middle;
    }
    .diff_type_au {
        width: 23% !important;
        padding: 0.3% 0.5% !important;
    }
}

.image {
    /* height: inherit; */
    /* float: left; */
    margin: 20px 20px 20px 0;
}

.image img {
    display: block;
    margin: auto;
}

/* .clearflix {
    overflow: auto;
} */

.diff_type_au {
    flex-shrink: 0;
    width: 20%;
    display: inline-block;
    background-color: white;
    padding: 0.3% 2%;
    vertical-align: top;
    margin: 0px 0.5%;
    border-radius: 0px;
}

#demo {
    text-align: center;
}

#demo a {
    color: rgb(1, 61, 130);
}

#btt{
    position :fixed;
    height: 30px;
    width: 34px;
    bottom: 5%;
    right: 2%;
    opacity: 0.5;
}
#btt:hover{
    opacity: 1;
}

#btt a{
    margin: auto;
    padding: 5px 0;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    width: 100%;
    height: 30px;
    background-color: black;
    color:white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
#footer{
    background-color: rgb(0 24 40);
    color: white;
    width: 100%;
    padding: 0.4% 6% 0 6%;
    box-sizing: border-box;
}
#footer div{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0 2%;
}
#ab_us{
    width: 22% !important;
}
#follow{
    width: 100% !important;
}
#follow i{
    margin-right: 5px;
    /* font-size: 30px; */
    vertical-align: top;
    cursor: pointer;
    position: relative;
}
#follow i::before{
    /* height: 15px; */
    /* padding: 3px 0; */
    box-sizing: border-box;
    border-radius: 100%;
}

.fa-instagram:hover::before{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: radial-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.fa-square-facebook:hover::before{
    color: blue;
    /* background-color: white; */
    background: linear-gradient(rgb(8,8,52),rgb(8,8,52) 15%,white 16%,white 93%,rgb(8,8,52) 94%,rgb(8,8,52));
}
.fa-square-google-plus:hover::before{
    color: red;
    /* background-color: white; */
    background: linear-gradient(rgb(8, 8, 52),rgb(8,8,52) 29%,white 30%,white 70%,rgb(8,8,52) 71%,rgb(8,8,52));
}
.fa-linkedin:hover::before{
    color: rgb(0, 0, 156);
    /* background-color: white; */
    background: linear-gradient(rgb(8, 8, 52),rgb(8,8,52) 19%,white 20%,white 80%,rgb(8,8,52) 81%,rgb(8,8,52));
}
.fa-square-twitter:hover::before{
    color: #00acee;
    /* background-color: white; */
    background: linear-gradient(rgb(8, 8, 52),rgb(8,8,52) 23%,white 24%,white 77%,rgb(8,8,52) 78%,rgb(8,8,52));
}
a{
    color: white;

}
#cr{
    display: block;
    width: 99.5vw !important;
    background-color: rgb(4, 0, 27);
    margin: 0 -7% !important;
}
#cr h4{
    /* width: 100%;*/
    margin: 8px;
    text-align: center;
}
#cr h4 i{
    font-weight: 100;
}
@media screen and (max-width:780px){
    #footer>div{
        border-top: 1px solid white;
        width: 45%;
    }
    #ab_us{
        width: 45% !important;
    }
    #cr{
        border:none !important;
        width: 98.9vw !important;
    }
}
