body {
    background-image: url("../photos/bg_photo.png");
    background-repeat: no-repeat;
    background-position: center; 
    font-size: larger;
    font-family: cursive;
}
#out_f,fieldset {
    width: 37%;
    height: 80%;
    margin: auto;
    margin-top: 65px;
    background-color: aliceblue;
    padding-top: 0;
    border-radius: 5px;
}
fieldset{
    width: 40%;
    height: 94%;
    margin: auto;
}
form{
    margin-left: 3%;
}
#heading,#heading_sig {
    margin:-1px 0px 23px -15px;
    background-color: rgb(30,30,57);
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 105.17%;
    border-radius: 5px;
}
#heading h2,#heading_sig h2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-decoration: underline;
}
.inp_dec {
    height: 40px;
    width: 100%;
    display: block;
    border: 0.01px solid rgb(68, 68, 255);
    border-bottom: 2px solid rgb(68, 68, 255);
    border-radius: 2px;
    padding-left: 10px;
    font-size: large;
    color: rgb(0, 0, 85);
}
.inp_dec:focus{
    outline: none  !important;
    border: 2px solid blue;
}
div{
    width: 300px;
    display: block;
    margin-bottom: 20px;
}
div p{
    margin-bottom: 5px;
}
textarea.inp_dec{
    height: 150px;
    width: 400px;
}
.flnm{
    display: inline-block;
    width: 250px;
    margin-right: 20px;
}
#sub_btn{
    color: white;
    background-color: rgb(30, 30, 57);
    height: 50px;
    width: 120px;
    margin-left: 35%;
    margin-bottom: 20px;
    border: 2px solid rgb(148, 84, 0);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;
}
#sub_btn:hover{
    box-shadow: 0px 0px 15px 0px yellow;
}
#sub_btn_login{
    color: white;
    background-color: rgb(30, 30, 57);
    height: 50px;
    width: 120px;
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid rgb(148, 84, 0);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;
}
#sub_btn_login:hover{
    box-shadow: 0px 0px 15px 0px yellow;
}
#orfi{
    border-width: 2px 0 0 0;
    height: 0px;
    width: 80%;
    border-radius: 0;
    margin-left: 10px;
}
#orfi legend{
    text-align: center;
}
.login_sm{
    width: fit-content;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    border: 2px solid blue;
    cursor: pointer;
    margin: 0 17px;
}
.login_sm div{
    vertical-align: 3px;
}
.login_sm img{
    float: left;
    margin-right: 5px;
}
#google{
    border:2px solid #dd4e41;
}

@media screen and (max-width:780px){
    body{
        background-position:top;
        background-size:174%;

    }
    #out_f{
        width: 64% !important;
        margin-top: 50px !important;
    }
    fieldset{
        width: 80% !important;
    }
    #heading{
        width: 106.3%;
        padding-top: 7px;
        padding-bottom:8px;
    }
    #heading_sig{
        width: 105.3%;
        margin-bottom: 5px;
    }
    form h4{
        margin:13px;
    }
    .inp_dec {
        height: 35px;
        width: 85%;
    }
    div{
        margin-bottom: 10px;
        
    }
    #sub_btn_login{
        margin-top: 15px;
        height: 40px;
        width: 100px;
    }
    #sub_btn{
        margin-bottom: 10px;
        height: 40px;
        width: 100px;
    }
    #orfi{
        width: 100% !important;
        margin-left: -20px;
        margin-top:8px !important;
    }
    .login_sm{
        margin: 0 0px;
        padding:10px;
    }
}
